body{
    background-color:#fff;
}
#header-nav{
    background-color:grey;
    border-radius: 0px;
    
}
button{
    border:1px solid black;
}
.navbar-brand{
    padding-top:25px;
}
.navbar-brand h1{
    font-family:'Lora',serif;
    color:#1c1d1b;
    font-size:1.5em;
    text-transform:uppercase;
    font-weight:bold;
    text-shadow:1px 1px 1px #222;
    margin-top:0;
    margin-bottom:0 ;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration:none;
} 
#nav-list{
    margin-top: 10px ;

}
#nav-list a {
    color:black;
    text-align: center;

}
.navbar-header button.navbar-toggle,.navbar-header .icon-bar{
    border:1px solid black;
    
}
.navbar-header button.navbar-toggle{
    clear:both;
    margin-top: -30px;
}
.para{
    
    background-color:grey;
    color:black;
}
.heading{
    text-align: center;
    color:black;
    font-weight: bold;
    font-family:arial;
}
h3{
    text-align: center;
    font-weight: bold;
}